.message-wrapper {
  width: fit-content;
  padding: 2rem;
  color: white;
  background-color: black;
  border-top-right-radius: 8px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.message-wrapper a {
  color: white;
}

.message-wrapper div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.repo-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #844aca;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  text-decoration: none;
}